[project]
	description = mtk6752 by cwm
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zebias
[access "refs/for/refs/*"]
	read = group user/zebias
	push = group user/zebias
	label-Code-Review = -2..+2 group user/zebias
	label-Verified = -1..+1 group user/zebias
	rebase = group user/zebias
	removeReviewer = group user/zebias
	submit = group user/zebias
[access "refs/heads/*"]
	read = group user/zebias
	create = group user/zebias
	push = +force group user/zebias
	pushMerge = group user/zebias
[access "refs/tags/*"]
	push = +force group user/zebias
	pushTag = group user/zebias
	pushSignedTag = group user/zebias
